body {
    color:darkslategrey;
    font-family:Arial, sans-serif;
    font-size:17px;
}
h1{
    font-size:30px;
    text-align:center;
    color:darkblue
}
h2{
    font-size:24px;
    background-color:lightskyblue;
    color:darkblue
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1 a{
  color:white
}
h2 a, h2 a:visited{
    color:lightskyblue
}
/* h1, a:hover{
  color:darkblue
} */
h2:hover a,
h1:hover a
{
    color:darkblue
}
#copyright{
  font-weight:bold;
  font-style:italic
}
.text-center{
  text-align:center
}

/* estou tendo problema com o efeito cascata por isso os testes e os estudos do codigo */

/* h2 a{
    color:lightskyblue;
    text-decoration:none
}
 h1 a, h2 a{
    text-decoration:none
 }

h1 a:visited{
    color:white
}
h2 a:visited{
    color:lightskyblue
}

a:hover,
{
    text-decoration:underline
} */
/* 


body {
    color: darkslategrey;
    font-family: arial, sans-serif;
    font-size: 17px;
  }
  
  .text-center {
    text-align: center;
  }
  
  #copyright {
    font-weight: bold;
    font-style: italic;
  }
  
  h1 {
    font-size:30px;
  }
  h2 {
    font-size:24px;
    background-color: lightskyblue;
  }
  
  h1, h2, a, a:visited {
    color: darkblue;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  h1 a, h1 a:visited {
    color: white;
  }
  h2 a, h2 a:visited {
    color: lightskyblue;
  }
  h1:hover a, h2:hover a {
    color: darkblue;
  } */